.thDark{
  background-color: #2b2b33 !important;
}
.thLightDark{
  background-color: #36363d !important;
}
.App {
  text-align: center;
}
.btn {
  margin: 2px;
}
.btnCreate{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
}
.divbtn {
  float: left;
}
.divBtnRight {
  float: right;
}
.link {
  cursor: pointer;
}
.minWidth{
  min-width: 60%;
}
.maxContent{
  width: max-content;
}
.green400{
  color: #00e676;
}
